<div class="first-sentence">
    <h1>{{ title }}</h1>
    <a class="header-link" routerLink="/login">Login</a>
    <a class="header-link" routerLink="/data">Data</a>
    <a class="header-link" routerLink="/signup">Signup</a>
  </div>