<div class="center">
  <h3 class="success" *ngIf="isLoginSuccess">Login successful !!</h3>
  <h3 class="failed" *ngIf="isLoginFailure">Login Failure !!</h3>
  <div>
    <label>Email: </label>
    <input [(ngModel)]="email" type="text" />
    <p class="error" *ngIf="isEmailError">Email is mandatory</p>
  </div>
  <div>
    <label>password: </label>
    <input [(ngModel)]="password" type="password" />
    <p class="error" *ngIf="isPasswordError">Password is mandatory</p>
  </div>
  <button (click)="login()">Login</button>
</div>
