.center {
  text-align: center;
}

.error {
  color: red;
}
.success {
  background-color: green;
  color: #fff;
  padding: 5px;
}

.failed {
  background-color: red;
  padding: 5px;
  color: #fff;
}
