<mat-card class="margin">
  <form [formGroup]="signupForm">
    <mat-form-field class="form-input">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error
        *ngIf="
          signupForm.controls.emailFormControl.hasError('email') &&
          !signupForm.controls.emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error
        *ngIf="signupForm.controls.emailFormControl.hasError('required')"
      >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-input">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="passwordFormControl"
        type="password"
        [errorStateMatcher]="matcher"
      />
      <mat-error
        *ngIf="signupForm.controls.passwordFormControl.hasError('required')"
      >
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button color="primary" class="margin" (click)="submit()">
      submit
    </button>
    <button mat-raised-button color="accent" class="margin">reset</button>
  </div>
</mat-card>
