/* You can add global styles to this file, and also import other style files */
.first-sentence {
  background-color: darkblue;
  color: darkgray;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
