
<input type="text" [(ngModel)]="name" />

<p>My name is {{ name }}</p>

<button class="first-sentence" style="width: 20%" (click)="toggleFruits()">
  {{ buttonText }}
</button>
<div *ngIf="showFruits">
  <p *ngFor="let fruit of fruits" class="first-sentence">{{ fruit }}</p>
</div>
